# See https://docs.npmjs.com/misc/config for all the things you can do with this file.

# This registry+auth setting allows us to fetch packages from our private office npm registry
registry=https://registry.npmjs.org
always-auth=true
package-lock=true
engine-strict=true
