@import 'vars';
@import 'mixins';

.ms-progress-component {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #FFF;
    @include flex();

    &__main {
        height: 100%;
        width: calc(100% - 30px) !important;
        flex: 1 1 0px;
        padding: $default-spacing;
        @include center-flex();
    }

    &__title {
        width: calc(100% - 30px) !important;
        text-align: center;
        padding: 0 $default-spacing;
        color: #666;
    }

     &__sub-title {
        width: calc(100% - 30px) !important;
        word-break: break-word;
        text-align: center;
        padding: $default-spacing;
        color: #999;
    }

    &__logo {
        height: 120px;
        margin-bottom: $default-spacing;
    }

    &__footer {
        @include inline-flex(center, center);
        margin-bottom: $default-spacing * 5;
    }
}

.ms-progress {
    @include center-flex();
    width: 100%;
}

.ribbon {
  width: 200px;
  position: absolute;
  text-align: center;
  line-height: 50px;
  color: #f0f0f0;
  top: 25px;
  left: auto;
  right: -50px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}



/* loader by https://codepen.io/magnus16/pen/BKoRNw */

.cs-loader {
  width: 100%;
}

.cs-loader-inner {
  transform: translateY(-50%);
  color: #f96618;
  text-align: center;
}

.cs-loader-inner label {
  font-size: 16pt;
  opacity: 0;
  display:inline-block;
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}