@import 'vars';
@import 'mixins';
@import 'components/spinner';
@import 'components/command';

* {
    margin: 0;
    padding: 0;
}

*[hidden] {
    display: none !important;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: $foreground-primary;
}

body {
    position: relative;
	@include flex();
}

main {
    height: 100%;
}

footer {
    width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
}

.app editor-mode {
    @include inline-flex();
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

#progress {
    z-index: 10000;
    @include inline-flex();
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

#hosts {
    display: none;
    text-align: center;

    p {
        margin-bottom: $default-spacing/2;
    }

    .buttons {
        @include flex(row, wrap, center, center);
        margin-bottom: $default-spacing * 3;

        .hostButton {
            margin: $default-spacing/2;
            padding: $default-spacing/2;
            background-size: 36px;
            background-repeat: no-repeat;
            background-position: center center;
            cursor: pointer;
            transition: background-color 0.2s ease-in-out;

            &.ms-Icon {
                font-size: 28px;
                padding: 17.5px;
            }

            &:focus,
            &:hover {
                background-color: #f2f2f2;
            }

            &:active {
                background-color: #f2f2f2;
                transform: scale3d(0.98, 0.98, 1);
            }
        }
    }
}

.pointer-events-none {
    pointer-events: none !important;
}
